<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="container">
        {{>header}}
        <p>Enter Your City!</p>
        <form id="input-form">
            <input id="text" class="input-loc" placeholder="Location">
            <button class="btn">Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
</body>
<script src="/js/app.js"></script>

</html>